<section ng-controller="DashboardCtrl">
<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-4 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-university"></i>
				</div>
				<div class="title">{{number(api.simpleStats.instancias)}}</div>
				<div class="comment">Instancias</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
          <i class="fa fa-briefcase"></i>
				</div>
				<div class="title">{{number(api.simpleStats.expedientes)}}</div>
				<div class="comment">Expedientes</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-file-text"></i>
				</div>
				<div class="title">{{ number(api.simpleStats.acuerdos)}}</div>
				<div class="comment">Acuerdos</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-calendar" title="Último año">
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive" ng-controller="LastDaysStatsCtrl">
					<table class="table">
            <thead>
    			  <tr>
              <td>Fecha</td>
              <td>Acuerdos</td>
    			  </tr>
    			  </thead>
						<tbody>
              <tr ng-repeat="dia in wantedDays">
                <td>{{dia.toDate() | date}}</td>
                <td>{{howManyAcuerdos(dia) | number}}</td>
              </tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6" ng-controller="MisExpedientesCtrl">
		<rd-widget>
			<rd-widget-header icon="fa-calendar" title="Mis expedientes">
				<input type="text" ng-model="misExpedientesFilter.$" placeholder="Filtrar" class="form-control input-sm">
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
						<tr>
							<td>Instancia</td>
							<td>Año/consecutivo</td>
							<td>Enviar notificaciones</td>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="e in misExpedientes | filter:misExpedientesFilter">
							<td>{{e.expediente.instancia}}</td>
							<td ng-init="e.expediente.expediente = '' + e.expediente['año'] + '/' + e.expediente.consecutivo">{{e.expediente.expediente}}</td>
							<td>
								<pretty-checkbox ng-model="e.expediente.notificar" label="'Enviar por e-mail'"></pretty-checkbox>
							</td>
							<td>
								<button ui-sref="busqueda.por-expediente({claveInstancia: e.expediente.instancia, agno: e.expediente['año'], consecutivo: e.expediente.consecutivo})" class="btn btn-primary" type="button">
									<i class="fa fa-external-link"></i> Ver
								</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
</section>
